[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Otus/Osprey/Surnia
	push = group Otus/Osprey/Surnia
	label-Code-Review = -2..+2 group Otus/Osprey/Surnia
	label-Verified = -1..+1 group Otus/Osprey/Surnia
	submit = group Otus/Osprey/Surnia
	rebase = group Otus/Osprey/Surnia
